.my-feeds-header
  %h2 My Feeds

- if user_signed_in?

  - if @my_feeds.present?

    .my-feeds-results
      - @my_feeds.each do |feed|
        %ul.feed-title
          %li= link_to feed.title, feed_path(feed.id)
          - if feed.users.where("user_id = #{current_user.id}").present?
            %button#subscribe.unsubscribe{"data-feed-id" => "#{feed.id}"} Unsubscribe
            - if Subscription.where(:feed_id => feed.id, :user_id => current_user.id, :show_on_profile => true).present?
              %button#subscribe-visibility.hide-on-profile{"data-feed-id" => "#{feed.id}"} Hide on Profile
            - else
              %button#subscribe-visibility.show-on-profile{"data-feed-id" => "#{feed.id}"} Show on Profile
          - else
            %button#subscribe.subscribe{"data-feed-id" => "#{feed.id}"} Subscribe
            %button#subscribe-visibility.hidden{"data-feed-id" => "#{feed.id}"} Hide on Profile

          %ul.article-title
            - feed.articles.find(:all, :conditions => ["id not in (?)", @my_archived_articles_ids], :order => "posted_at DESC", :limit => 5).each do |article|
              %li= link_to "#{article.title}", feed_article_path(feed, article)
              = time_ago_in_words "#{article.posted_at}"
              ago
              %br/
              %button#archive.archive{"data-article-id" => "#{article.id}"} Archive
              - if article.users.where("user_id = #{current_user.id} AND bookmark = true").present?
                %button#bookmark.unbookmark{"data-article-id" => "#{article.id}"} Unbookmark
              - else
                %button#bookmark.bookmark{"data-article-id" => "#{article.id}"} Bookmark

    = will_paginate @my_feeds

  - else # if @my_feeds.present? is false
    You have not subscribed to any feeds!

- else # if user_signed_in? is false
  You must be registered and logged in to use this feature.





