.top-section-home-public
  .logo-home-public
    %h2= link_to "Feedx", root_path

  .search-home-public
    = link_to 'Find a Feed', root_path  # update link later! should be a 'search or browse by categories' type page

.bottom-section-home-public
  .categories-section-home-public
    .category-tile
      %h3= link_to "News", root_path #need to replace
    .category-tile
      %h3= link_to "Tech", root_path #need to replace
    .category-tile
      %h3= link_to "Business", root_path #need to replace
    .category-tile
      %h3= link_to "Travel", root_path #need to replace
    .category-tile
      %h3= link_to "Fashion", root_path #need to replace
    .category-tile
      %h3= link_to "Design", root_path #need to replace
    .category-tile
      %h3= link_to "Food", root_path #need to replace
    .category-tile
      %h3= link_to "Photography", root_path #need to replace

