
.section-home-public

  .categories-section-home-public
    .category-tile
      %h3= link_to "News", root_path #need to replace
    .category-tile
      %h3= link_to "Tech", root_path #need to replace
    .category-tile
      %h3= link_to "Business", root_path #need to replace
    .category-tile
      %h3= link_to "Travel", root_path #need to replace
    .category-tile
      %h3= link_to "Fashion", root_path #need to replace
    .category-tile
      %h3= link_to "Design", root_path #need to replace
    .category-tile
      %h3= link_to "Food", root_path #need to replace
    .category-tile
      %h3= link_to "Photography", root_path #need to replace




