
.col-md-12
  .home-btn.btn.btn-default.btn-lg{type: "button"}
    = link_to "News", categories_feed_path(:category => 'news')
  .home-btn.btn.btn-default.btn-lg{type: "button"}
    = link_to "Tech", categories_feed_path(:category => 'technology')
  .home-btn.btn.btn-default.btn-lg{type: "button"}
    = link_to "Business", categories_feed_path(:category => 'business')
  .home-btn.btn.btn-default.btn-lg{type: "button"}
    = link_to "Travel", categories_feed_path(:category => 'travel')
  .home-btn.btn.btn-default.btn-lg{type: "button"}
    = link_to "Fashion", categories_feed_path(:category => 'fashion')
  .home-btn.btn.btn-default.btn-lg{type: "button"}
    = link_to "Design", categories_feed_path(:category => 'design')
  .home-btn.btn.btn-default.btn-lg{type: "button"}
    = link_to "Food", categories_feed_path(:category => 'cooking')
  .home-btn.btn.btn-default.btn-lg{type: "button"}
    = link_to "Photography", categories_feed_path(:category => 'photography')
