.feed-views-header
  %h2= @feed.title

.feed-subscribe
  - if user_signed_in?
    - if @feed.users.where("user_id = #{current_user.id}").present?
      %button#subscribe.unsubscribe{"data-feed-id" => "#{@feed.id}"} Unsubscribe
      - if Subscription.where(:feed_id => @feed.id, :user_id => current_user.id, :show_on_profile => true).present?
        %button#subscribe-visibility.hide-on-profile{"data-feed-id" => "#{@feed.id}"} Hide on Profile
      - else
        %button#subscribe-visibility.show-on-profile{"data-feed-id" => "#{@feed.id}"} Show on Profile
    - else
      %button#subscribe.subscribe{"data-feed-id" => "#{@feed.id}"} Subscribe
      %button#subscribe-visibility.hidden{"data-feed-id" => "#{@feed.id}"} Hide on Profile

.feed-about
  %h4 About This Feed
  %ul
    %li#subscribe-count= pluralize(@feed.users.count, "subscriber")
    %li= link_to @feed.category.capitalize, "/feeds/categories?category=#{@feed.category}"
    %li= link_to "Visit Website", @feed.link, target: "blank"

.feed-articles-section
  %ul
    - @articles.each do |article|
      %li
        .article
          .article-title
            = article.title
          .article-date
            = time_ago_in_words(article.posted_at)
            ago
            = "(#{article.posted_at})"
          .article-summary
            - if article.description.present?
              = sanitize(article.description, tags: %w(table tr td), attributes: %w(id class style)).truncate(100, :separator => " ")
              = link_to "Read more", feed_article_path(@feed, article)
            - else
              = link_to "Read on #{@feed.title}", article.link
      %hr

= will_paginate @articles

