.feed-views-header
  %h2= @feed.title # need to add subscribe/unsubscribe button too

.feed-subscribe
  / = button_to "Subscribe", '/subscriptions#update', remote: true, method: :put
  / - if user_signed_in?
  /   - if @feed.users.where("user_id = #{current_user.id}").present?
  /     = button_to "Unsubscribe", {:controller => :feeds, :action => :unsubscribe}, {:method => :put }
  /   - else
  /     = button_to "Subscribe", {:controller => :feeds, :action => :subscribe}, {:method => :post }
  / Javascript version below:
  - if user_signed_in?
    - if @feed.users.where("user_id = #{current_user.id}").present?
      %button#subscribe.unsubscribe{"data-feed-id" => "#{@feed.id}"} Unsubscribe
      %button#subscribe-visibility.hide-on-profile{"data-feed-id" => "#{@feed.id}"} Hide on Profile
    - else
      %button#subscribe.subscribe{"data-feed-id" => "#{@feed.id}"} Subscribe
      %button#subscribe-visibility.hidden{"data-feed-id" => "#{@feed.id}"} Hide on Profile

.feed-about
  %h4 About
  %ul
    %li#subscribe-count= pluralize(@feed.users.count, "subscriber")
    %li Category we'll have to add
    %li Description if we can find one; otherwise we remove this item
    %li= link_to "Visit Website", @feed.link

.feed-articles-section
  %ol
    - @articles.each do |article|
      %li
        .article
          .article-title
            = article.title
          .article-date
            = time_ago_in_words(article.posted_at)
            ago
            = "(#{article.posted_at})"
          .article-summary
            - if article.description.present?
              = sanitize(article.description, tags: %w(table tr td), attributes: %w(id class style)).truncate(100, :separator => " ")
              = link_to "Read more", feed_article_path(@feed, article)
            - else
              = link_to "Read on #{@feed.title}", article.link
      %hr
/ update article image
/ add link to bookmark (need controller)
/ add link to archive (need controller)
/ add link to share on google plus
/ add pagination

= will_paginate @articles

