.article-title
  %h2= @article.title

.article-feed-info
  %h4= @article.feed.title
  %ul
    %li= pluralize(@article.feed.users.count, "subscriber")
    %li= link_to @article.feed.category.capitalize, "/feeds/categories?category=#{@article.feed.category}"
    %li= link_to "Go to Feed", feed_path(@article.feed)
    %li= link_to "Visit Website", @article.feed.link, target: "blank"

%hr
.article-basics
  %h5= "Posted: #{@article.posted_at}"
  %h5= "By: #{@article.author}"

%hr
.article-nav
  .article-user-labels
    - if user_signed_in?
      - if @article.users.where("user_id = 7 AND archive = true").present?
        %button#archive.unarchive{"data-article-id" => "#{@article.id}"} Unarchive
      - else
        %button#archive.archive{"data-article-id" => "#{@article.id}"} Archive
      - if @article.users.where("user_id = 7 AND bookmark = true").present?
        %button#bookmark.unbookmark{"data-article-id" => "#{@article.id}"} Unbookmark
      - else
        %button#bookmark.bookmark{"data-article-id" => "#{@article.id}"} Bookmark
  .article-external-link
    = button_to "Read/Comment on #{@article.feed.title}", @article.link, target: "blank"
    %p
  .g-plus{"data-action" => "share", "data-href" => "#{@article.link}"}

%hr
.article.article_img_show_page
  %p= image_tag @article.images_from_readable.first
.article.content_show_page
  %p= sanitize @article.content_from_readable, tags: %w(table tr td), attributes: %w(id class style)

%hr
%nav.nav_bottom
  = link_to "Back to Feed", feed_path(@article.feed)
  - if @next_article_id
    \|
    = link_to "Next Post", feed_article_path(@article.feed, @next_article_id)
  - if @previous_article_id
    \|
    = link_to "Previous Post", feed_article_path(@article.feed, @previous_article_id)

:javascript
(function() {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/platform.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
