%h2= @article.title

.article-feed-info
  %h4= @article.feed.title
  %ul
    %li= pluralize(@article.feed.users.count, "subscriber")
    %li Probably no category but we'll figure it out
    %li= link_to "Go to Feed", @article.feed.link

%hr
.article-basics
  %h5= "Posted: #{@article.posted_at}"
  %h5= "By: #{@article.author}"

%hr
.article-nav
  / insert a nav_bar here i.e archieve | bookmark | share on google | @article.comment_link(<-this one should work fine)
  %ul
    %li
      - if user_signed_in?
        - if @article.users.where("user_id = #{current_user.id}").present?
          = link_to "Unarchive", "javascript:void(0)", :id => "archive", :class => "unarchive", "data-article-id" => "#{@article.id}", "data-feed-id" => "#{@article.feed.id}"
        - else
          = link_to "Archive", "javascript:void(0)", :id => "archive", :class => "archive", "data-article-id" => "#{@article.id}", "data-feed-id" => "#{@article.feed.id}"
    %li
      - if user_signed_in?
        - if @article.users.where("user_id = #{current_user.id}").present?
          = link_to "Remove Bookmark", "javascript:void(0)", :id => "bookmark", :class => "unbookmark", "data-article-id" => "#{@article.id}", "data-feed-id" => "#{@article.feed.id}"
        - else
          = link_to "Bookmark", "javascript:void(0)", :id => "bookmark", :class => "bookmark", "data-article-id" => "#{@article.id}", "data-feed-id" => "#{@article.feed.id}"
    %li= link_to "Share on Google Plus", "https://plus.google.com/share?url=#{@article.link}", :target => "blank"
    %li= link_to "Read on #{@article.feed.title}", @article.link

%hr
.article.article_img_show_page
  =image_tag @article.images_from_readable.first
.article.content_show_page
  = sanitize @article.content_from_readable, tags: %w(table tr td), attributes: %w(id class style)
%hr

/ insert a nav_bar here i.e archieve | bookmark | share on google | @article.comment_link(<-this one should work fine)

%hr
%nav.nav_bottom
  = link_to "Back", feed_path(@article.feed)
  Next Post
  Previous Post
/figure out logic for next and previous






