%h2= "#{@user.first_name}'s Profile"

.user-show-image
  = image_tag @image, height: 150

.user-basic-info
  %b= @user.first_name.capitalize
  %b= @user.last_name.capitalize
  %br/
  = "Member since #{@user.created_at.to_formatted_s(:long)}"

.user-bio
  = @user.bio if @user.bio.present?

.user-public-feeds
  - if @user_public_feeds.present?
    %h4= "#{@user.first_name} is following..."
    %ul
    - @user_public_feeds.each do |f|
      %li
        %b= link_to f.title, feed_path(f)
        |
        %i= link_to f.category, "/feeds/categories?category=#{f.category}"

.user-private-feeds
  - if current_user == @user && @user_private_feeds.present?
    %h4
      = "[PRIVATE] #{@user.first_name}, your #{pluralize(@user_private_feeds.count, "private feed")}:"
    %ul
    - @user_private_feeds.each do |f|
      %li
        %b= link_to f.title, feed_path(f)
        |
        %i= link_to f.category, "/feeds/categories?category=#{f.category}"
